*.iml
*jar
.classpath
.lein-deps-sum
.lein-failures
.lein-repl-history
.project
.nrepl-port
/bin/
/classes/
/lib/
pom.xml*
/.settings/
/target
metadata.json
clojure/armstrong-numbers/target/
clojure/beer-song/target/
clojure/clock/target/
clojure/collatz-conjecture/target/
clojure/leap/target/
clojure/meetup/target/
clojure/phone-number/target/
clojure/robot-name/target/
clojure/hello-world/target/
/.idea
/_site
